<br>
<span style="font-size: 20px"><strong><%= @events.first.event_category.name %></strong>  カテゴリのイベント</span>
<%= render 'show_event', events: @events, categories: @categories %>
<%# render partial: 'show_event', locals: { events: @events, categories: @categories } %>
